absl-py==0.7.1
adal==1.2.2
amqp==2.5.0
aniso8601==7.0.0
anyjson==0.3.3
argon2-cffi==19.1.0
asn1crypto==0.24.0
astor==0.8.0
astroid==2.2.5
attrs==19.1.0
azure==4.0.0
azure-applicationinsights==0.1.0
azure-batch==4.1.3
azure-cognitiveservices-vision-computervision==0.4.0
azure-common==1.1.23
azure-cosmosdb-nspkg==2.0.2
azure-cosmosdb-table==1.0.5
azure-datalake-store==0.0.46
azure-eventgrid==1.3.0
azure-graphrbac==0.40.0
azure-keyvault==1.1.0
azure-loganalytics==0.1.0
azure-mgmt==4.0.0
azure-mgmt-advisor==1.0.1
azure-mgmt-applicationinsights==0.1.1
azure-mgmt-authorization==0.50.0
azure-mgmt-batch==5.0.1
azure-mgmt-batchai==2.0.0
azure-mgmt-billing==0.2.0
azure-mgmt-cdn==3.1.0
azure-mgmt-cognitiveservices==3.0.0
azure-mgmt-commerce==1.0.1
azure-mgmt-compute==4.6.2
azure-mgmt-consumption==2.0.0
azure-mgmt-containerinstance==1.5.0
azure-mgmt-containerregistry==2.8.0
azure-mgmt-containerservice==4.4.0
azure-mgmt-cosmosdb==0.4.1
azure-mgmt-datafactory==0.6.0
azure-mgmt-datalake-analytics==0.6.0
azure-mgmt-datalake-nspkg==3.0.1
azure-mgmt-datalake-store==0.5.0
azure-mgmt-datamigration==1.0.0
azure-mgmt-devspaces==0.1.0
azure-mgmt-devtestlabs==2.2.0
azure-mgmt-dns==2.1.0
azure-mgmt-eventgrid==1.0.0
azure-mgmt-eventhub==2.6.0
azure-mgmt-hanaonazure==0.1.1
azure-mgmt-iotcentral==0.1.0
azure-mgmt-iothub==0.5.0
azure-mgmt-iothubprovisioningservices==0.2.0
azure-mgmt-keyvault==1.1.0
azure-mgmt-loganalytics==0.2.0
azure-mgmt-logic==3.0.0
azure-mgmt-machinelearningcompute==0.4.1
azure-mgmt-managementgroups==0.1.0
azure-mgmt-managementpartner==0.1.1
azure-mgmt-maps==0.1.0
azure-mgmt-marketplaceordering==0.1.0
azure-mgmt-media==1.0.0
azure-mgmt-monitor==0.5.2
azure-mgmt-msi==0.2.0
azure-mgmt-network==2.7.0
azure-mgmt-notificationhubs==2.1.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-policyinsights==0.1.0
azure-mgmt-powerbiembedded==2.0.0
azure-mgmt-rdbms==1.9.0
azure-mgmt-recoveryservices==0.3.0
azure-mgmt-recoveryservicesbackup==0.3.0
azure-mgmt-redis==5.0.0
azure-mgmt-relay==0.1.0
azure-mgmt-reservations==0.2.1
azure-mgmt-resource==2.2.0
azure-mgmt-scheduler==2.0.0
azure-mgmt-search==2.1.0
azure-mgmt-servicebus==0.5.3
azure-mgmt-servicefabric==0.2.0
azure-mgmt-signalr==0.1.1
azure-mgmt-sql==0.9.1
azure-mgmt-storage==2.0.0
azure-mgmt-subscription==0.2.0
azure-mgmt-trafficmanager==0.50.0
azure-mgmt-web==0.35.0
azure-nspkg==3.0.2
azure-servicebus==0.21.1
azure-servicefabric==6.3.0.0
azure-servicemanagement-legacy==0.20.6
azure-storage-blob==1.5.0
azure-storage-common==2.0.0
azure-storage-file==1.4.0
azure-storage-queue==2.0.1
backcall==0.1.0
bcrypt==3.1.7
bleach==3.1.0
bootstrap4==0.1.0
cachetools==3.1.1
celery==2.2.2
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
circus==0.15.0
Click==7.0
colorama==0.4.1
cryptography==2.7
cssselect==1.0.3
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
Django==2.2.3
django-bootstrap3==11.1.0
django-bootstrap4==0.0.8
django-braces==1.13.0
django-celery==2.2.2
django-crispy-forms==1.7.2
django-debug-toolbar==2.0
django-extensions==2.2.1
django-forms-bootstrap==3.1.0
django-indexer==0.2.1
django-pagination==1.0.7
django-paging==0.2.5
django-picklefield==2.0
django-rosetta==0.6.2
django-sentry==1.6.0
django-templatetag-sugar==1.0
entrypoints==0.3
Faker==1.0.7
Flask==1.0.2
flask-restplus==0.12.1
gast==0.2.2
google-api-core==1.13.0
google-api-python-client==1.7.9
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-cloud==0.34.0
google-cloud-core==1.0.2
google-cloud-storage==1.16.1
google-cloud-vision==0.38.0
google-pasta==0.1.7
google-resumable-media==0.3.2
googleapis-common-protos==1.6.0
gpyocr==1.4
graphviz==0.11.1
grpcio==1.22.0
h5py==2.9.0
httplib2==0.13.0
idna==2.8
imutils==0.5.2
ipykernel==5.1.1
ipython==7.6.1
ipython-genutils==0.2.0
ipywidgets==7.5.0
isodate==0.6.0
isort==4.3.20
itsdangerous==1.1.0
jedi==0.14.1
Jinja2==2.10.1
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
kombu==4.6.3
lazy-object-proxy==1.4.1
lxml==4.3.4
Mako==1.0.14
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
misaka==2.1.1
mistune==0.8.4
mkl-fft==1.0.12
mkl-random==1.0.2
msrest==0.6.8
msrestazure==0.6.1
mysqlclient==1.4.2
nbconvert==5.5.0
nbformat==4.4.0
notebook==6.0.0
numpy==1.16.4
oauthlib==3.0.2
opencv-python==4.1.0.25
panda==0.3.1
pandas==0.24.2
pandocfilters==1.4.2
parso==0.5.1
pdfminer.six==20181108
pdfquery==0.4.3
pickleshare==0.7.5
Pillow==6.1.0
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.9.0
psutil==5.6.3
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycparser==2.19
pycryptodome==3.8.2
pydotplus==2.0.2
Pygments==2.4.2
PyJWT==1.7.1
pylint==2.3.1
pyOpenSSL==19.0.0
pyparsing==2.4.1.1
pyquery==1.4.0
pyrsistent==0.15.3
PySocks==1.7.0
pytesseract==0.2.6
python-dateutil==2.8.0
pytz==2019.1
pywinpty==0.5.5
PyYAML==5.1.1
pyzmq==18.0.2
qtconsole==4.5.1
requests==2.22.0
requests-oauthlib==1.2.0
roman==3.2
rsa==4.0
scipy==1.3.0
Send2Trash==1.5.0
simplejson==3.16.0
six==1.12.0
sortedcontainers==2.1.0
sqlparse==0.3.0
tensorboard==1.12.2
tensorflow==1.12.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
text-unidecode==1.2
tomako==0.1.0.post1
TornadIO2==0.0.3
tornado==6.0.3
traitlets==4.3.2
typed-ast==1.4.0
uritemplate==3.0.0
urllib3==1.25.3
uuid==1.30
vine==1.3.0
Wand==0.5.5
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
widgetsnbextension==3.5.0
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.2