<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'accounts/images/favicon.ico' %}">

    <title>WAMDL</title>
</head>
<body>
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Join Today</legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class = "btn btn-outline-info" type="submit">Login</button>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted">
      <!-- Need An Account? <a class="ml-2" href="{% url 'signup' %}">Sign Up Now</a> -->
    </small>

  </div>
  <p>Click<a class="ml-2" href="/"> here </a>to go Home</p>

</div>
</body>
</html>
