<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <title>WAMDL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'posts/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'posts/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'posts/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'posts/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'posts/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'posts/owl.theme.default.min.css' %}">
    <link href="{% static 'posts/stylesignin.css' %}" rel="stylesheet" type="text/css">
      <link rel="shortcut icon" type="image/png" href="{% static 'posts/images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'posts/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'posts/fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'posts/aos.css' %}">

    <link rel="stylesheet" href="{% static 'posts/style.css' %}">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

</head>
<body>
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-4 bg-white" role="banner">

      <div class="container">
        <div class="row align-items-center">

          <div class="col-11 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="/" class="text-black h2 mb-0">W.A.M.D.L</a></h1>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="/">Home</a></li>
                <li><a href="/discussions">Collection</a></li>
                <li><a href="/about">About</a></li>
                {% if user.is_authenticated %}
                <li><a href="/homepage">Sign Out</li>
                <li class="active"><a href="/transcription" class="highlight">Transcription</a></li>
                {% else %}
                <li><a href="/accounts">Sign In</a></li>
                {% endif %}
                <li><a href="/admin">Admin</li>
              </ul>
            </nav>
          </div>


          <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;">
            <a href="#" class="site-menu-toggle js-menu-toggle text-black">
              <span class="icon-menu h3"></span></a>
            </div>

          </div>

        </div>
    </header>
    </div>
    <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url({% static 'posts/images/hero_1.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
          <div class="container">
            <div class="row align-items-center justify-content-center text-center">

              <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">

                <div class="row justify-content-center mb-4">
                  <div class="col-md-8 text-center">
                    <h1>Transcription</h1>
                    <p class="lead mb-5"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    <!-- <center>
        <h2></h2>
        <br>
        <br>
        <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_p }}
            <p>Click <a href='response/'>here </a>to show the result again</p>
        <input type="submit" value="SUBMIT" />
        </form>

    </center> -->

    <section class="site-section">
      <div class="container">
        <center>
          <div class="col-md-7 col-lg-7">
            <div class="p-3 box-with-humber">
              <h2>Insert image with handwritten text</h2>
              <br>
                <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
                    {{ form.as_p }}
                    <p>Click <a href='response/'>here </a>to show the result again</p>
                <input type="submit" value="SUBMIT" />
                </form>
            </div>
          </div>
          </center>
          </div>
          </section>

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-5">
                <h2 class="footer-heading mb-4">Have letters or other documents that may be helpful to us?</h2>
                <p>A scanned copy can be sent to us via email. Email us the document on document@wamdl.com</p>
              </div>
              <div class="col-md-3 ml-auto">
                <h2 class="footer-heading mb-4">Features</h2>
                <ul class="list-unstyled">
                  <li><a href="/">Home</a></li>
                  <li><a href="/discussions">Collection</a></li>
                  <li><a href="/about">About</a></li>
                  {% if user.is_authenticated %}
                  <li><a href="/transcription" class="highlight">Transcription</a></li>
                  {% endif %}
                </ul>
              </div>
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <p>Western Australian Genealogical Society (WAGS):<p>
                <a href="https://twitter.com/WAGS_WA" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <p>Army Museum of Western Australia (AMWA):<p>
                <a href="https://www.facebook.com/armymuseumwa" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="https://www.instagram.com/armymuseumwa/ " class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="https://kr.linkedin.com/company/army-museum-of-western-australia" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h2 class="footer-heading mb-4">W.A.M.D.L System developed by Manuscript</h2>
            <p>ICT302, 2019, Murdoch University Dubai</p>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
          </div>

        </div>
      </div>
    </footer>

  <script src="{% static 'posts/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'posts/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'posts/js/jquery-ui.js' %}"></script>
  <script src="{% static 'posts/js/popper.min.js' %}"></script>
  <script src="{% static 'posts/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'posts/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'posts/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'posts/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'posts/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'posts/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'posts/js/aos.js' %}"></script>

  <script src="{% static 'posts/js/typed.js' %}"></script>
            <script>
            var typed = new Typed('.typed-words', {
            strings: ["Web Apps"," WordPress"," Mobile Apps"],
            typeSpeed: 80,
            backSpeed: 80,
            backDelay: 4000,
            startDelay: 1000,
            loop: true,
            showCursor: true
            });
            </script>

  <script src="{% static 'posts/js/main.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="https://apis.google.com/js/client.js"></script>
</body>
</html>
